{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    table {
        width: 100%;
        border: 1px solid #5d2d2d;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px 12px;
        border: 1px solid #0b9284;
        text-align: left;
    }
</style>    
    <h1>Welcome to the CustomerList Page</h1>
    <img src="{% static 'assets/images/Gurubagavan.jpg' %}" alt="God Image" width="200" height="200">
    <br><br>
    <a href="/orders/customeradd/">
        <button type="submit">Add Customer</button>
    </a>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>
                 <a href="{% url 'customerUpdate' customer.id %}">
                <button type="submit">Update</button>
                 </a>
            </td>
            <td> 
                <a href="{% url 'customerDelete' customer.id %}">
                <button>Delete</button>
                </a>
            </td>

        </tr>
    
        {% endfor %}
    </table>
    <p class="text-color">* Deleting a customer will also remove all associated orders.</p>
{% endblock %}